.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar h2#name_pack {
  padding-left: 1rem;
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--color-txt-dark);
  border-left: 1px solid var(--border);
}

.navbar a img {
  display: flex;
  width: 120px;
  height: 30px;
  object-fit: cover;
  border-radius: 0.2rem;
}

#btn_menu {
  font-size: 1em;
}

.navbar .list-midia {
  display: flex;
  /* gap: 1rem; */
}

.navbar .list-midia li {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--border);
  border-radius: 50%;

  transition: background-color 300ms;
}

.navbar .list-midia li a {
  font-size: 1.2em;
  transition: color 300ms;
}

.navbar .list-midia li:hover {
  background-color: rgba(19, 93, 220, 0.2);
  border: 1px solid rgba(19, 93, 220, 0.6);
}

.navbar .list-midia li:hover a {
  color: #e6eaf1;
}

#menu:target {
  transform: translateX(0);
}

/* Menu Lateral */

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  height: 100%;
  width: 4rem;
  max-width: 18%; /* Regula o tamanho entre sizes telas */
  display: flex;
  flex-direction: column;
  padding: 5% 0;

  background-color: #1e1f21;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition:
    width 400ms,
    transform 300ms;
}

#menu:hover,
#menu:active {
  width: 100%;
}

#menu > p#copy_right {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: rgba(230, 234, 241, 0.4);
  font-size: 0.6em;
  font-weight: 200;
}

#menu .menu-header {
  display: flex;
  align-items: center;
}

#menu .menu-header a {
  display: grid;
  place-content: center;
  font-size: 2em;
  width: 4rem;
  height: 4rem;
}

#menu .menu-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#menu .menu-container .navbar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#menu .menu-container .navbar-menu li button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  text-align: left;
  width: 100%;
  color: var(--color-txt-dark);
  border-left: 3px solid transparent;
  background-color: transparent;
  font-size: 0.9em;

  transition:
    color 400ms,
    background-color 400ms;
}

#menu .menu-container .navbar-menu li button#button_search {
  display: none;
}

#menu .menu-container .navbar-menu li button#button_search.showButton {
  display: flex;
}

#menu .menu-container .navbar-menu li button span {
  background-color: transparent;
  color: var(--color-txt-light);
  font-size: 1.2em;
  display: grid;
  place-content: center;
  min-width: 4rem;
  height: 4rem;
}

#menu .menu-container .navbar-menu li:hover button span {
  color: #135ddc;
}

#menu .menu-container .navbar-menu li:hover button {
  color: #135ddc;
  background-color: rgba(19, 93, 220, 0.1);
  border-color: #135ddc;
  transition: border-color 1000ms;
}

#menu .menu-container hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: rgba(213, 220, 227, 0.05);
}

.container {
  display: flex;
  height: calc(100vh - 144px);
  padding-inline: 5%;
}

.lista-itens-carregados {
  display: none;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.lista-itens-carregados .item {
  width: calc(25% - 1rem);
  height: calc(25% - 1rem);
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(213, 220, 227, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: background-color 300ms;
}

.lista-itens-carregados .item:hover {
  background-color: rgba(19, 93, 220, 0.15);
  border-color: rgba(19, 93, 220, 0.4);
}

.lista-itens-carregados .item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lista-itens-carregados .item h3 {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-txt-dark);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: color 700ms;
}

.lista-itens-carregados .item p {
  margin-top: 1rem;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-txt-light);
}

.popover-style {
  --fontVariant: all-petite-caps;
  --lineHeight: 2;

  padding: 1rem;
  
  background-color: #1e1f21;
  border-radius: 0.2rem;
  border: 2px solid var(--border);
}

.popover-style .popover-header {
  display: flex;
  justify-content: space-between;
}

.popover-style .popover-header button#button_hide_popover {
  font-size: 1.4em;
  background-color: transparent;
  color: var(--color-txt-light);
}

.popover-style .popover-header h2 {
  font-size: 1.6em;
  text-transform: capitalize;
  color: var(--color-txt-dark);
  line-height: 2;
  
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.popover-style h3 {
  font-variant-caps: var(--fontVariant);
  line-height: var(--lineHeight);
  color: var(--color-txt-light);
  font-weight: 300;
  font-size: 0.9em;
}

.popover-style label {
  font-variant-caps: var(--fontVariant);
  line-height: var(--lineHeight);
  color: var(--color-txt-light);
  font-weight: 300;
  font-size: 0.9em;
}

.popover-style .input-area {
  display: flex;
  align-items: center;
  height: 2.8rem;
  width: 90%;
}

.popover-style .input-area input {
  width: 100%;
  height: 100%;
  background-color: #222325;
  padding: 0 0.5rem;
  color: var(--color-txt-light);
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid transparent;
  border-right: 0;
  transition: border-color 300ms;
}

.popover-style .input-area input:focus {
  border-color: rgba(19, 93, 220, 0.5);
}

.popover-style .input-area a {
  height: 100%;
}

.popover-style .input-area a button {
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  background-color: #135ddc;
  border-radius: 0 0.2rem 0.2rem 0;
  color: var(--color-txt-light);
  font-size: 1em;
}

.popover-help {
  height: auto;
}

.popover-help h3 {
  color: var(--color-txt-dark);
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
}

.popover-help p {
  color: var(--color-txt-light);
  font-size: 0.8em;
  font-weight: 300;
  text-align: justify;
}

.popover-help p b {
  color: #135ddc;
}

.popover-help p em {
  color: #e6eaf1;
  letter-spacing: 1.2px;
}

.container-settings:popover-open {
  height: auto;
  max-height: 500px;
}

.ajuste-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  max-height: 300px;
  padding: 0.4rem;
  overflow-y: scroll;

  border: 1px solid var(--border);
}

.ajuste-lista li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: justify;

  color: var(--color-txt-light);
  font-weight: 200;
  font-size: 0.8em;
}

.ajuste-lista li button {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  background-color: rgba(220, 46, 19, 0.1);
  color: rgba(220, 46, 19, 0.6);
  border-radius: 0.2rem;
  font-size: 1em;

  transition: background-color 300ms;
}

.ajuste-lista li button:hover {
  background-color: transparent;
}

#sem_lista {
  display: grid;
  place-content: center;
  width: 100%;
  color: rgba(205, 212, 222, 0.4);
  font-weight: 200;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1px;
}

#sem_lista.remove-text {
  display: none;
}

.painel-controle {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  height: 72px;
}

.painel-controle.painel-visible {
  display: flex;
}

.painel-controle .paginacao p {
  font-size: 0.8em;
}

.painel-controle .controle-paginacao {
  display: flex;
  gap: 1rem;
}
