@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");

@import url("loading.css");
@import url("home.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --color-txt-dark: #cdd4de;
  --color-txt-light: rgba(205, 212, 222, 0.8);
  --border: rgba(205, 212, 222, 0.1);
}

a,
p {
  text-decoration: none;
  color: var(--color-txt-light);
  letter-spacing: 0.5px;
  font-weight: 300;
}

i {
  display: flex;
}

button,
input {
  cursor: pointer;
  border: 0;
  outline: 0;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #212224;
  font-size: 1em;
}

:popover-open {
  width: 450px;
  height: auto;
  position: fixed;
  inset: unset;
  top: 30%;
  left: 50%;
  z-index: 9;
  margin: 0;
  margin-left: -210px;
  margin-top: -100px;

  display: flex;
  flex-direction: column;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.button-default {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 0.6rem 3rem;
  font-size: 0.8em;
  color: #212224;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2rem;
  outline: 1px solid transparent;

  transition:
    background-color 300ms,
    outline-color 200ms;
}

.button-default:hover {
  outline-color: #cdd4de;
  outline-offset: 1px;
  background-color: transparent;
  color: #cdd4de;
}

.button-default-controle {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #cdd4de;
  border-radius: 0.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #212224;

  transition:
    background-color 300ms,
    color 300ms,
    transform 400ms;
}

.button-default-controle:nth-child(1):hover {
  background-color: transparent;
  color: var(--color-txt-dark);
  transform: translateX(-0.2rem);
}

.button-default-controle:nth-child(2):hover {
  background-color: transparent;
  color: var(--color-txt-dark);
  transform: translateX(0.2rem);
}

.button-default-controle:nth-child(3):hover {
  background-color: transparent;
  color: var(--color-txt-dark);
}

@media screen and (max-width: 430px) {
  body {
    font-size: 1.1em;
  }

  .navbar {
    padding-inline: 5%;
  }

  .navbar a h1 {
    font-size: 1.8em;
  }

  .navbar div a i {
    font-size: 2em;
  }

  #name_pack {
    display: none;
  }

  #btn_menu {
    display: flex;
  }

  
  #menu {
    padding-top: 0;
    /* gap: 1rem; */
    max-width: 65%;
    transform: translateX(-100%);
  }
  
  #menu .menu-header {
    margin-block: 1rem;
  }

  #menu #btn_close_menu {
    display: flex;
  }
  
  :popover-open {
    width: 100%;
    max-width: 95%;
    left: 2.5%;
    top: 20%;
    margin: 0;
  }

  .lista-itens-carregados {
    overflow-y: scroll;
    height: 100%;
  }

  .lista-itens-carregados .item {
    width: 100%;
  }

  .painel-controle {
    padding: 0 5%;
  }
}

@media screen and (min-width: 431px) {
  .navbar div a#btn_menu {
    display: none;
  }

  #menu #button_close_menu {
    display: none;
  }
}

@media screen and (min-width: 431px) and (max-width: 1000px) {
  header {
    padding: 0 6%;
  }

  #menu {
    max-width: 35%;
    padding-top: 10%;
  }

  #btn_menu {
    display: none;
  }

  .container {
    padding-inline: 10%;
  }

  .lista-itens-carregados {
    overflow-y: scroll;
    height: 100%;
  }

  .lista-itens-carregados .item {
    width: calc(50% - 1rem);
    height: calc(15% - 1rem);
  }

  .lista-itens-carregados .item h3 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}
